body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header__ */
h1 {
  font-family: var(--header-font);
  font-size: 80px;
  padding: 10px 0;
  color: black;
}

.header__ {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  display: flex;
}

.header__ ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header__ li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header__ li a:hover,
.header__ .menu-btn__:hover {
  color: rgb(206, 68, 9);
}

.header__ .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header__ .menu__ {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

/* menu icon */

.header__ .menu-icon__ {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header__ .menu-icon__ .navicon__ {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header__ .menu-icon__ .navicon__:before,
.header__ .menu-icon__ .navicon__:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header__ .menu-icon__ .navicon__:before {
  top: 5px;
}

.header__ .menu-icon__ .navicon__:after {
  top: -5px;
}

/* menu btn */

.header__ .menu-btn__ {
  display: none;
}

.header__ .menu-btn__:checked ~ .menu__ {
  max-height: 260px !important;
}

.header__ .menu-btn__:checked ~ .menu-icon__ .navicon__ {
  background: transparent;
}

.header__ .menu-btn__:checked ~ .menu-icon__ .navicon__:before {
  transform: rotate(-45deg);
}

.header__ .menu-btn__:checked ~ .menu-icon__ .navicon__:after {
  transform: rotate(45deg);
}

.header__ .menu-btn__:checked ~ .menu-icon__:not(.steps) .navicon__:before,
.header__ .menu-btn__:checked ~ .menu-icon__:not(.steps) .navicon__:after {
  top: 0;
}

.icons {
  display: none;
}

.search-input {
  display: none;
}

@media (min-width: 915px) {
  .header__ li {
    float: left;
  }

  .header__ li a {
    padding: 20px 30px;
  }

  .header__ .menu__ {
    clear: none;
    float: right;
    max-height: none;
  }

  .header__ .menu-icon__ {
    display: none;
  }

  .search-input {
    display: block;
    padding-left: 10px;
    border: none;
  }

  .icons {
    display: flex;
  }

  .basket {
    position: relative;
  }

  .basket:hover,
  .login:hover,
  .text-on-cart:hover {
    color: rgb(206, 68, 9);
  }

  .text-on-cart {
    color: white;
    position: absolute;
    top: 53%;
    left: 47%;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .icons img {
    max-width: none;
  }
}
