.shop-all-button {
  margin: 50px 0;
  font-size: 20px;
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 5px 60px;
  transition: all ease-in-out 250ms;
}

.shop-all-button:hover {
  background-color: rgb(206, 68, 9);
}
