/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.slide-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Buttons */

.slideshowDots {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 10px;
  left: 50%;
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #b5b0b0;
}

.slideshowDot.active {
  background-color: #fafafa;
}

.text-on-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.text-on-image h1 {
  font-size: 30px;
}

.text-on-image button {
  border: 1px solid black;
  padding: 10px 15px;
  transition: all ease-in-out 250ms;
}

.text-on-image button:hover {
  color: white;
  background-color: black;
}

@media (min-width: 915px) {
  .text-on-image h1 {
    font-size: 50px;
  }
}
